<!DOCTYPE html>
<html lang="pt-br">  
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <h2>Welcome to Sport Team App</h2>
        <p>Click <a href="">here</a> to see Player Management</p>
        <p>Click <a href="">here</a> to see Team Management</p>
        <p>Click <a href="">here</a> to see Metrics and Performance</p>
        <p>Click <a href="">here</a> to see Schedling</p>
        <p>Click <a href="">here</a> to see Inventory</p>
        <p>Click <a href="">here</a> to see Financial</p>
    </body>
</html>